@model DiaryShare.MVCWebUI.ViewModels.ProfileViewModel

@{
    ViewBag.Title = "Profile";

    string btnStyle;
    string statu;
    var colorOfBtn = 1;
    if (Model.IsFollower && !Model.IsOwnProfile)
    {
        btnStyle = "color:white;background-color:darkred";
        statu = "Takipten Çık";
    }
    else
    {
        btnStyle = null;
        statu = "Takip Et";
        colorOfBtn = 2;
    }
}


<div class="col-md-offset-1 col-md-8">
    <div class="panel panel-info">
        <div id="backButton" class="panel panel-heading" style="display:none">
            <a href="@Url.Action("Main","Profile",new {id=Model.AccountInfo.AccountID })">
                <div class="backButton" style="width:40px;height:40px;border-radius:20px;text-align:center;vertical-align:middle;padding-top:10px;">
                    <span class="glyphicon glyphicon-arrow-left"></span>
                </div>
            </a>
        </div>
        <div class="panel-body" style="word-wrap:break-word">
            <div id="followContent" style="display:none">
                <div id="followerButton" class="col-md-6" style="text-align:center;height:40px;padding-top:13px;">
                    <a style="text-decoration:none;color:black" class="followAccountButton" href="#" onclick="loadRelations('/Profile/GetListOfFollowers/' + @Model.AccountInfo.AccountID)">Takipçiler</a>
                </div>

                <div id="followingButton" class="col-md-6" style="text-align:center;height:40px;padding-top:13px;">
                    <a style="text-decoration:none;color:black" class="followAccountButton" href="#" onclick="loadRelations('/Profile/GetListOfFollowings/'+ @Model.AccountInfo.AccountID)">Takip Edilenler</a>
                </div>
            </div>
            <div id="mainProfileContent">
                <div>
                    <div class="col-md-1">
                        <img id="profile-photo" class="thumbnail pull-left" style="width:120px;height:120px;border-radius:60px; border:1px solid grey;margin-left:5px;margin-top:5px;" src="@Url.Content(Model.AccountInfo.ProfilPhotoPath)" alt="@Model.AccountInfo.FirstName-@Model.AccountInfo.LastName" />

                    </div>
                    <div class="col-md-7" style="margin-top:-15px;margin-left:80px">
                        <div>
                            <h3> @Model.AccountInfo.FirstName @Model.AccountInfo.LastName</h3>
                        </div>
                        <div>
                            <p> @Model.AccountInfo.PersonelInfo </p>
                        </div>
                        <br />
                    </div>
                </div>
                <br />
                <div class="col-md-12">
                    <small><strong> @Model.AccountInfo.MemberDate.ToLongDateString()</strong> Tarihinde Katıldı.</small>

                    @if (!Model.IsOwnProfile)
                    {
                        <div id="followBtn" style="@btnStyle" class="btn form-control">@statu</div>
                        <input type="hidden" id="statusInfo" value="@colorOfBtn" />
                        <hr />
                        @Html.ActionLink("Sohbet Başlat", "MessagingPage", "Message", new { id = Model.AccountInfo.AccountID }, new { @class = "btn btn-info form-control" })
                    }

                </div>
                <div class="col-md-12" style="padding:0 0 0 0">
                    <br />
                    <div class="col-md-3">
                        <a id="followingsMain" href="#" style="text-decoration:none;color:black">
                            <b>  @Model.FollowingCount  Takip Edilen</b>
                        </a>
                    </div>
                    <div class="col-md-2">
                        <a id="followersMain" href="#" style="text-decoration:none;color:black">
                            <b>   @Model.FollowerCount Takipçi</b>
                        </a>
                    </div>
                </div>
                <br />
                <table class="table table-hover" style="margin-top:-20px;" id="diaryList">
                    <thead>
                        <tr>
                            <th>Günlükler</th>
                        </tr>
                    </thead>
                    <tbody id="profileDiaries">
                        @if (Model.DiariesInfo.Count <= 0)
                        {
                            <tr>
                                <td>
                                    <div class="alert alert-info">
                                        Henüz günlük paylaşımı yapılmadı.
                                    </div>
                                </td>
                            </tr>
                        }
                        else
                        {
                            foreach (var item in Model.DiariesInfo)
                            {
                                <tr>
                                    <td>
                                        <div>
                                            <img class="thumbnail pull-left" style="width:60px;height:60px;border-radius:30px; border:1px solid grey;margin-left:5px;margin-top:5px;" src="@Url.Content(Model.AccountInfo.ProfilPhotoPath)" alt="@Model.AccountInfo.FirstName-@Model.AccountInfo.LastName" />

                                        </div>
                                        <div style="margin-top:-15px;margin-left:80px">
                                            <a id="aHover" href="@Url.Action("Main","Profile",new { id=Model.AccountInfo.AccountID})" style="text-decoration:none;color:black">

                                                <h3><span> @Model.AccountInfo.FirstName @Model.AccountInfo.LastName</span></h3>
                                            </a>
                                            @if (Model.IsOwnProfile)
                                            {
                                                <div style="margin:-35px 0 0 570px">
                                                    <div class="dropdown">
                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span style="font-size:20px" class="glyphicon glyphicon-option-vertical"></span></a>

                                                        <ul class="dropdown-menu">
                                                            <li><a onclick="removeDiary(@item.DiaryID)" href="#">Günlüğü Sil</a></li>
                                                        </ul>

                                                    </div>
                                                </div>
                                            }
                                            <div>
                                                <a style="text-decoration:none;color:black" href="@Url.Action("DiaryDetail","Home",new  { id=item.DiaryID})">
                                                    <div>
                                                        <h4>@item.Title</h4>
                                                        <p> @item.DiaryContent</p>
                                                    </div>
                                                    <br />
                                                </a>
                                            </div>
                                            <br />
                                        </div>

                                        <small>@item.CreatedDate.ToLongDateString()</small>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3">
    @{Html.RenderAction("_TrendAccounts", "Home");}
</div>

@section scripts {

    <script>
        $(document).ready(function () {

            showPhoto();

            $("#followingsMain").click(function () {
                var link = "/Profile/GetListOfFollowings/" + @Model.AccountInfo.AccountID;
                loadRelations(link);
                $("#followingButton").css({ "background-color": "dodgerblue", "font-weight": "bold" });
                $("#followingButton").children().css("color", "white");
            })

            $("#followersMain").click(function () {
                var link = "/Profile/GetListOfFollowers/" + @Model.AccountInfo.AccountID;
                loadRelations(link);
                $("#followerButton").css({ "background-color": "dodgerblue", "font-weight": "bold" });
                $("#followerButton").children().css("color", "white");
            })

            $(".followAccountButton").click(function () {
                $(".followAccountButton").parent().css({ "background-color": "", "font-weight": "" });
                $(".followAccountButton").css("color","black")
                $(this).parent().css({ "background-color": "dodgerblue", "font-weight": "bold" });
                $(this).css("color","white")
            })

            $("#followBtn").click(function () {
                if ($("#statusInfo").val() == 2) {
                    $('#statusInfo').attr('value', 1);
                    $("#followBtn").css({ "background-color": "darkred", "color": "white" });
                    $("#followBtn").html("Takipten Çık");
                } else {
                    $("#followBtn").css({ "background-color": "white", "color": "black" });
                    $("#followBtn").html("Takip Et");
                    $('#statusInfo').attr('value', 2);
                }
                loadDiaries();
            })
        })

        function removeDiary(diaryID) {
            $.ajax({
                method: "post",
                url: "/Profile/RemoveDiary/" + diaryID,
                dataType: "json"
            }).done(loadDiaries())
        }

        function loadDiaries() {
             var imageUrl ="@Model.AccountInfo.ProfilPhotoPath.ToString()";
             var firstName = "@Model.AccountInfo.FirstName.ToString()";
             var lastName = "@Model.AccountInfo.LastName.ToString()";
             var accountID = @Model.AccountInfo.AccountID;

           $.ajax({
                    method: "post",
                    url: "/Profile/ChangeToFollower/" +@Model.AccountInfo.AccountID,
                    dataType: "json",
                    success: (function (response) {
                        $("#profileDiaries").html("");

                        if (response[0] != null) {
                            $.each(response, function (index, value) {
                                var createdDate = new Date(parseInt(value.CreatedDate.replace("/Date(", "").replace(")/", ""), 10))
                                $("#profileDiaries").append("<tr><td><div><img class='thumbnail pull-left' style='width:60px;height:60px;border-radius:30px; border:1px solid grey;margin-left:5px;margin-top:5px;' src=" + imageUrl + " alt=" + firstName + " " + lastName + " /></div ><div style='margin-top:-15px;margin-left:80px'><a id='aHover' href=/Profile/Main/" + accountID + " style='text-decoration:none;color:black'><div><h3>" + firstName + " " + lastName + "</h3></div></a><div><a style='text-decoration:none;color:black' href=/Home/DiaryDetail/" + value.DiaryID + "><div><h4>" + value.Title + "</h4><p>" + value.DiaryContent + "</p></div><br /></a></div><br /></div><small>" + createdDate + "</small></td ></tr >");
                                });
                        } else {
                            var info = "Henüz günlük paylaşımı yapılmadı.";
                            $("#profileDiaries").append("<tr><td><div class='alert alert-info' >" + info + "</div></td></tr>");
                        }
                    })
            })
        }

         function loadRelations(link) {
            $.ajax({
                    method: "post",
                    url: link,
                    dataType: "json",
                    success: (function (response) {
                        $("#mainProfileContent").html("");
                        $("#followContent").show();
                        $("#backButton").show();
                        $("#mainLook").hide();
                        if (response[0] == null) {
                            $("#mainProfileContent").append("<table class='table table-hover'><tr><td><div class='alert alert-info'>Bu hesap kimseyi takip etmiyor.</div></td></tr></table>");
                        } else {
                            $.each(response, function (index, value) {
                                $("#mainProfileContent").append("<table class='table table-hover'><tr><td><a style='text-decoration:none;color:black' href='/Profile/Main/" + value.AccountID + "' ><div class='col-md-2'><img class='thumbnail' style='width:80px;height:80px;border-radius:40px;' src='" + value.ProfilPhotoPath + "' alt='" + value.FirstName + "' /></div><div class='col-md-10'>" + value.FirstName + " " + value.LastName + "<br/>" + value.PersonelInfo + "</div></a></td></tr></table>");
                            })
                        }
                    })
                })
        }

        function showPhoto() {
            var myNode = document.querySelector('#profile-photo');

            myNode.addEventListener('click', function (e) {

                if (e.target.tagName === 'IMG') {

                    var myOverlay = document.createElement('div');
                    myOverlay.id = 'overlay';

                    document.body.appendChild(myOverlay);

                    //set up csss with javascript;
                    myOverlay.style.position = 'absolute';
                    myOverlay.style.top = 15 + 'px';
                    myOverlay.style.backgroundColor = 'rgb(0,0,0,0.7)';
                    myOverlay.style.cursor = 'pointer';

                    //resize and position overlay
                    myOverlay.style.width = window.innerWidth + 'px';
                    myOverlay.style.height = window.innerHeight + 'px';
                    myOverlay.style.top = window.pageYOffset + 'px';
                    myOverlay.style.left = window.pageXOffset + 'px';

                    //Create image element
                    var imageSrc = e.target.src;
                    var largeImage = document.createElement('img');
                    largeImage.id = 'largeImage';
                    largeImage.src = imageSrc.substr(22, imageSrc.length - 7);
                    largeImage.style.display = 'block';
                    largeImage.style.position = 'absolute';

                    //wait until the has loaded
                    largeImage.addEventListener('load', function () {

                        //Resize if image taller
                        if (this.height > window.innerHeight) {
                            this.ratio = window.innerHeight / this.height;
                            this.height = this.height * this.ratio;
                            this.width = this.width * this.ratio;
                        }

                        //Resize if image wider
                        if (this.width > window.innerWidth) {
                            this.ratio = window.innerWidth / this.width;
                            this.height = this.height * this.ratio;
                            this.width = this.width * this.ratio;
                        }

                        center(this);

                        myOverlay.appendChild(largeImage);

                    });

                    largeImage.addEventListener('click', function () {
                        if (myOverlay) {
                            myOverlay.parentNode.removeChild(myOverlay);
                        }
                    }, false);

                    window.addEventListener('scroll', function () {
                        if (myOverlay) {
                            window.removeEventListener('resize', window, false);
                            window.removeEventListener('scroll', window, false);
                            myOverlay.style.top = window.pageYOffset + 'px';
                            myOverlay.style.left = window.pageXOffset + 'px';

                        }
                    }, false)

                    window.addEventListener('resize', function () {
                        if (myOverlay) {
                            myOverlay.style.width = this.window.innerWidth + 'px';
                            myOverlay.style.height = this.window.innerHeight + 'px';
                            myOverlay.style.left = this.window.pageXOffset + 'px';
                            myOverlay.style.top = this.window.pageYOffset + 'px';
                            center(myOverlay.firstChild)
                        }
                    })

                } //target is an image


            }, false)//Image click
        }

        function center(theImage) {
            var difX = (window.innerWidth - theImage.width) / 2;
            var difY = (window.innerHeight - theImage.height) / 2;

            theImage.style.top = difY + 'px';
            theImage.style.left = difX + 'px';

            return theImage;
        }

    </script>

}
