@model DiaryShare.MVCWebUI.ViewModels.ProfileViewModel


@{
    ViewBag.Title = "Profile";
}


<div class="col-md-offset-1 col-md-8">
    <div class="panel panel-info">
        <div class="panel-body">
            <div>
                <div class="col-md-1">
                    @if (Model.AccountInfo.ProfilPhotoPath != null)
                    {
                        <img src="@Model.AccountInfo.ProfilPhotoPath" alt="Default" />
                    }
                    else
                    {
                        <img class="thumbnail pull-left" style="width:120px;height:120px;border-radius:60px; border:1px solid grey;margin-left:5px;margin-top:5px;" src="~/Images/DefaultImage.jpg" alt="Default" />
                    }
                </div>
                <div class="col-md-7" style="margin-top:-15px;margin-left:80px">
                    <div>
                        <h3> @Model.AccountInfo.FirstName @Model.AccountInfo.LastName</h3>
                    </div>
                    <div>
                        <p> @Model.AccountInfo.PersonelInfo </p>
                    </div>
                    <br />
                </div>
            </div>
            <br />
            <div class="col-md-12">
                <small>@Model.AccountInfo.MemberDate Tarihinde Katıldı.</small>
                <hr />
            </div>


            <table class="table table-hover" style="margin-top:-20px;">

                <thead>
                    <tr>
                        <th>Günlükler</th>
                    </tr>

                </thead>
                <tbody>

                    @{
                        foreach (var item in Model.DiariesInfo)
                        {

                            <tr>
                                <td>

                                    <a style="text-decoration:none;color:black" href="#">
                                        <div>
                                            @if (Model.AccountInfo.ProfilPhotoPath != null)
                                            {
                                                <img src="@Model.AccountInfo.ProfilPhotoPath" alt="Default" />
                                            }
                                            else
                                            {
                                                <img class="thumbnail pull-left" style="width:60px;height:60px;border-radius:30px; border:1px solid grey;margin-left:5px;margin-top:5px;" src="~/Images/DefaultImage.jpg" alt="Default" />
                                            }
                                        </div>
                                        <div style="margin-top:-15px;margin-left:80px">
                                            <div>
                                                <h3> @Model.AccountInfo.FirstName @Model.AccountInfo.LastName</h3>
                                            </div>
                                            <div>
                                                <p> @item.DiaryContent</p>
                                            </div>
                                            <br />

                                        </div>
                                        <small>@item.CreatedDate</small>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
