@model DiaryShare.MVCWebUI.ViewModels.SearchViewModel

@{
    ViewBag.Title = "Search";
}

<div class="col-md-8 col-md-offset-1">
    <div class="panel panel-info">
        <div class="panel-heading" style="text-align:center">
            <p>Arama Sonuçları</p>
        </div>

        <div class="panel-body">
            @if (Model.Accounts.Count <= 0)
            {
                <div class="alert alert-info">
                    <p>Arama kriterinize göre herhangi bir sonuç yoktur.</p>
                </div>
            }
            else
            {
                <table class="table table-hover">
                    @foreach (var item in Model.Accounts)
                    {
                        <tr>
                            <td>
                                <a style="text-decoration:none;color:black" href="@Url.Action("Main","Profile",new {id=item.AccountID })">
                                    <div class="col-md-2">
                                        <img class="thumbnail" style="width:80px;height:80px;border-radius:40px;" src="@item.ProfilPhotoPath" alt="@item.FirstName" />
                                    </div>

                                    <div class='col-md-10'>
                                        @item.FirstName @item.LastName <br />
                                        @item.PersonelInfo
                                    </div>
                                </a>
                            </td>
                        </tr>
                    }
                </table>
            }
        </div>
    </div>
</div>

<div class="col-md-3">
    @{Html.RenderAction("_TrendAccounts", "Home");}
</div>
