
<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="@Url.Action("Index","Home")"> DiaryShare </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            @if (Session["userID"] != null)
            {
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("Index","Home")"><span style="font-size:20px" class="glyphicon glyphicon-home"></span></a></li>
                    <li><a href="@Url.Action("DiaryPage","Diary")"><span style="font-size:20px" class="glyphicon glyphicon-book"></span></a></li>
                    <li><a href="@Url.Action("Bests","Explore")"><span style="font-size:20px" class="glyphicon glyphicon-globe"></span></a></li>
                </ul>
                <div class="nav navbar-nav" style="margin-top:10px;padding-bottom:-20px">
                    @using (Html.BeginForm("Search", "Explore", FormMethod.Get))
                    {

                        <div class="col-md-10">
                            <input type="search" name="key" class="form-control mr-sm-2" required placeholder="ARA" />
                        </div>
                        <div class="col-md-2">
                            <input type="submit" value="Ara" class="btn btn-default" />
                        </div>

                    }
                </div>
            }

            <ul class="nav navbar-nav navbar-right">
                @if (Session["userID"] == null)
                {
                    <li><a href="@Url.Action("Login","Account")">Giriş Yap</a></li>
                    <li><a href="@Url.Action("Register","Account")">Üye Ol</a></li>
                }
                else
                {
                    int accountID = 0;
                    if (Session["userID"] != null)
                    {
                        accountID = (int)Session["userID"];
                    }

                    <li><a href="@Url.Action("MessagingPage", "Message" ,new {id=accountID })"><span style="font-size:20px" class="glyphicon glyphicon-envelope"></span></a></li>
                    <li><a href="@Url.Action("Main", "Profile",new {id=accountID })"><span style="font-size:20px" class="glyphicon glyphicon-user"></span></a></li>
                    <li><a href="@Url.Action("ProfilSettings", "Profile")"><span style="font-size:20px" class="glyphicon glyphicon-cog"></span></a></li>
                    <li><a href="@Url.Action("Logout","Account")"><span style="font-size:20px" class="glyphicon glyphicon-log-out"></span></a></li>
                }

            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>