
<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="@Url.Action("Index","Home")"> DiaryShare </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            @if (Session["userID"] != null)
            {
                <ul class="nav navbar-nav">
                    @*<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>*@
                    <li><a href="@Url.Action("Index","Home")" class="btn"><span style="font-size:20px" class="glyphicon glyphicon-home"></span></a></li>
                    <li><a href="@Url.Action("DiaryPage","Diary")" class="btn"><span style="font-size:20px" class="glyphicon glyphicon-book"></span></a></li>
                </ul>
            }

            <ul class="nav navbar-nav navbar-right">
                @if (Session["userID"] == null)
                {
                    <li><a href="@Url.Action("Login","Account")">Giriş Yap</a></li>
                    <li><a href="@Url.Action("Register","Account")">Üye Ol</a></li>
                }
                else
                {
                    int accountID = 0;
                    if (Session["userID"] != null)
                    {
                        accountID = (int)Session["userID"];
                    }
                    <li><a href="@Url.Action("MessagingPage", "Message")"><span style="font-size:20px" class="glyphicon glyphicon-envelope"></span></a></li>
                    <li><a href="@Url.Action("Main", "Profile",new {id=accountID })"><span style="font-size:20px" class="glyphicon glyphicon-user"></span></a></li>
                    <li><a href="@Url.Action("Logout","Account")"><span style="font-size:20px" class="glyphicon glyphicon-log-out"></span></a></li>
                }

            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>