@using System.Web.Optimization;

<!DOCTYPE html>
<html>
<head>

    @Styles.Render("~/bundle/style")
</head>
<body style="background-color: skyblue">

    @Html.Partial("_Header")

    <div style="margin-top:80px;" class="container">

        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/scripts")

    @RenderSection("scripts", false)

</body>
</html>