@model DiaryShare.MVCWebUI.Dtos.AccountForChangePasswordDto

@{
    ViewBag.Title = "ChangeToPassword";
}

<div class="col-md-8 col-md-offset-1">
    @if (ViewBag.Info != null)
    {
        <div class="alert alert-info">
            @ViewBag.Info
        </div>
    }
    <div class="panel panel-info">
        <div class="panel-heading">
            Hesap Ayarları
        </div>
        <div class="panel-body">
            @using (Html.BeginForm("ChangeToPassword", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken();
                <div class="form-group">
                    @Html.PasswordFor(x => x.Password, new { @class = "form-control", placeholder = "Yeni Şifre", required = "required" })
                    @Html.ValidationMessageFor(x => x.Password)
                </div>

                <div class="form-group">

                    @Html.PasswordFor(x => x.RePassword, new { @class = "form-control", placeholder = "Yeni Şifre Tekrar", required = "required" })
                    @Html.ValidationMessageFor(x => x.Password)
                </div>

                <div class="form-group" style="text-align:center">
                    <input type="submit" value="Yeni Şifreyi Kaydet" class="btn btn-success" />
                </div>
            }
        </div>
    </div>
</div>

<div class="col-md-3">
    @{Html.RenderAction("_TrendAccounts", "Home");}
</div>

@section scripts{
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")

}