@model DiaryShare.MVCWebUI.ViewModels.MessagePageViewModel

@{
    ViewBag.Title = "MessagingPage";
}

<div id="messageWarning" style="display:none" class="col-md-9 alert alert-info col-md-offset-1">

</div>
<div class="col-md-3 col-md-offset-1" style="height:400px;overflow:auto;border:solid 1px black;padding:0 0 0 0;background-color:ButtonFace">
    <table id="messagingMaps" class="table table-hover">
        @foreach (var item in Model.AccountsOfMessages)
        {
            <tr>
                <td class="messagingAccount">
                    <a class="isClick" data-id="@item.AccountID" href="#" style="text-decoration:none;color:black">
                        @item.FirstName @item.LastName

                        @if (item.CountOfIsNotReadMessage > 0)
                        {
                            <span id="count-@item.AccountID" class="badge progress-bar-danger">@item.CountOfIsNotReadMessage</span>
                        }
                        else
                        {
                            <span id="count-@item.AccountID" class="badge progress-bar-danger"></span>
                        }

                        <input id="countOfNonReadMessage-@item.AccountID" type="hidden" value="@item.CountOfIsNotReadMessage" />
                    </a>
                </td>
            </tr>
        }
    </table>
</div>
<input id="mainAccountID" type="hidden" value="@Model.MainAccountID" />
<input id="activeAccountID" type="hidden" value="null" />

<div class="col-md-6" style="height:400px;border-top:solid 1px black;border-right:solid 1px black;border-bottom:solid 1px black;padding:0 0 0 0;background-color:ButtonFace">
    <div id="messagingContent" style="height:361px;overflow-y:auto">
        <h4 style="text-align:center">Bir mesaj seçiniz <span class="glyphicon glyphicon-send"></span> </h4>
    </div>
    <div id="messagePlace" style="height:39px;border-top:solid 1px black">
        <div class="col-md-8">
            <input id="message" type="text" class="form-control" />
        </div>
        <div class="col-md-4">
            <div id="messageSender" class="btn btn-success form-control glyphicon glyphicon-send"></div>
        </div>
    </div>
</div>



@section scripts{
    @*<script src="~/Scripts/jquery.signalR-2.4.1.js"></script>*@
    @System.Web.Optimization.Scripts.Render("~/bundles/signalR")
    <script src="~/SignalR/Hubs"></script>
    <script>

        $(document).ready(function () {

            var chat = $.connection.chat;

            chat.client.addMessage = function (message, targetID, ownID) {
                if ($("#activeAccountID").val() == ownID) {
                    $("#messagingContent").append("<div class='col-md-7 pull-left alert alert-success' style='height:auto;' >" + message + "</div>");
                    slideDown();
                } else if ($("#mainAccountID").val() == ownID) {
                    $("#messagingContent").append("<div class='col-md-7 pull-right alert alert-success' style='height:auto;' >" + message + "</div>");
                    slideDown();
                } else if ($("#mainAccountID").val() == targetID && $("#activeAccountID").val() != ownID) {
                    var quantity = $("#countOfNonReadMessage-" + ownID).val();
                    if (quantity == 0) {
                        $("#count-" + ownID).html(1);
                        $("#countOfNonReadMessage-" + ownID).attr("value", 1);
                    } else {
                        quantity++
                        $("#countOfNonReadMessage-" + ownID).attr("value", quantity);
                        $("#count-" + ownID).html(quantity);
                    }
                }
                //if ($("#mainAccountID").val() == targetID) {
                //    chat.server.update(targetID);
                //}
            }

            //chat.client.updateMessageMaps = function (response, targetID) {
            //    if ($("#mainAccountID").val() == targetID) {
            //        $("#messagingMaps").html("");
            //        $.each(response, function (index, value) {
            //            var countNonReadMessages = "";
            //            if (value.CountOfIsNotReadMessage > 0) {
            //                countNonReadMessages = value.CountOfIsNotReadMessage;
            //            }
            //            $("#messagingMaps").append("<tr><td class='messagingAccount'><a class='isClick' data-id='" + value.AccountID + "' href='#' style='text-decoration:none;color:black'>" + value.FirstName + " " + value.LastName + "<span id='count-" + value.AccountID + "' class='badge progress-bar-danger'>" + value.CountOfIsNotReadMessage + "</span><input id='countOfNonReadMessage-" + value.AccountID + "' type='hidden' value=" + countNonReadMessages + " /></a></td></tr>");
            //        });
            //    }
            //}

            $("#messageSender").click(function () {
                var ownID = $("#mainAccountID").val();
                var targetID = $("#activeAccountID").val();
                if (targetID === "null") {
                    $("#messageWarning").html("Lütfen bir mesajlaşma konusu seçiniz.");
                    $("#messageWarning").show();
                } else if ($.trim($("#message").val()) == "") {
                    $("#messageWarning").html("Boş mesaj gönderemezsiniz.");
                    $("#messageWarning").show();
                    $("#message").focus();
                } else {
                    var messageContent = $("#message").val();
                    $("#message").val("");
                    $("#messageWarning").hide();
                    chat.server.sendMessage(messageContent, targetID, ownID);
                }
            })

            $(".isClick").click(function () {
                $(".messagingAccount").css("background-color", "ButtonFace");
                $(this).parent().css("background-color", "white");
                $("#messageWarning").hide();
                var targetID = this.getAttribute("data-id");
                $("#activeAccountID").attr("value", targetID);
                $(this).children(this.firstChild).html("");
                $("#countOfNonReadMessage-" + targetID).attr("value", 0)
                chat.server.loadMessages($("#mainAccountID").val(), targetID);
            })

            chat.client.loadMessagingContent = function (response, ownID) {
                if (ownID == $("#mainAccountID").val()) {
                    $("#messagingContent").html("");
                    $.each(response, function (index, value) {
                        $("#messagingContent").append("<div class='" + value.MessagePosition + " alert alert-success' style='height:auto;' >" + value.MessageContent + "</div>");
                    });
                    slideDown();
                }
            }

            $.connection.hub.start();


            $("#message").keypress(function (e) {
                var key = e.which;
                if (key == 13) 
                {
                    $("#messageSender").click();
                    return false;
                }
            })
        })

        function slideDown() {
            var $chat = $("#messagingContent");
            $chat.scrollTop($chat.height() * 10000);
        }

    </script>

}
