@model DiaryShare.MVCWebUI.ViewModels.DiaryDetailViewModel

@{
    ViewBag.Title = "DiaryDetail";
}

<div class="col-md-offset-1 col-md-8">
    <div class="panel panel-info">
        <div class="panel-body">
            <div>
                <div>

                    <img class="thumbnail pull-left" style="width:80px;height:80px;border-radius:40px; border:1px solid grey;margin-left:5px;margin-top:5px;" src="@Url.Content(Model.Diary.ProfilPhotoPath)" alt="Default" />

                </div>
                <div style="margin-top:-15px;margin-left:90px">
                    <div>
                        <h3> @Model.Diary.FirstName @Model.Diary.LastName</h3>
                    </div>
                    <div>
                        <p> @Model.Diary.DiaryContent</p>
                    </div>
                    <br />
                </div>
                <small>@Model.Diary.CreatedDate</small>
            </div>

            <hr />
            @if (Model.Reviews.Count > 0)
            {
                <table class="table table-hover" style="margin-top:-15px;">
                    <thead>
                        <tr>
                            <th>
                                Yorumlar
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var item in Model.Reviews)
                            {

                                <tr>
                                    <td>
                                        <div>
                                            <a href="@Url.Action("Main","Profile",new { id=item.AccountID})" style="text-decoration:none;color:black">
                                                <img class="thumbnail pull-left" style="width:60px;height:60px;border-radius:30px; border:1px solid grey;margin-left:5px;margin-top:5px;" src="@Url.Content(item.ProfilPhotoPath)" alt="@item.FirstName-@item.LastName" />

                                            </a>
                                        </div>
                                        <div style="margin-top:-15px;margin-left:80px">
                                            <a id="aHover" href="@Url.Action("Main","Profile",new { id=item.AccountID})" style="text-decoration:none;color:black">
                                                <div>
                                                    <h3> @item.FirstName @item.LastName</h3>
                                                </div>
                                            </a>

                                            <div>
                                                <p> @item.Description</p>
                                            </div>
                                            <br />

                                        </div>
                                        <small>@item.ReviewDate</small>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            }

        </div>
    </div>
</div>

<div class="col-md-3">
    @{Html.RenderAction("_TrendAccounts", "Home");}
</div>
