@model DiaryShare.MVCWebUI.ViewModels.MainPageViewModel


@{
    ViewBag.Title = "Index";
}

<div class="col-md-offset-1 col-md-8">
    <div class="panel panel-info">

        <div class="panel-heading">
            <h4 style="text-align:center">ANA SAYFA</h4>
        </div>
        <div class="panel-body">
            @if (Model.MainPageDatas.Count <= 0)
            {
                <div class="alert alert-info">
                    Henüz takip ettiğiniz bir hesap bulunmamaktadır. 
                </div>
            }
            else
            {
                <table class="table table-hover">
                    @{
                        foreach (var item in Model.MainPageDatas)
                        {

                            <tr>
                                <td>
                                    <div>
                                        <a href="@Url.Action("Main","Profile",new { id=item.AccountID})" style="text-decoration:none;color:black">
                                            <img class="thumbnail pull-left" style="width:60px;height:60px;border-radius:30px; border:1px solid grey;margin-left:5px;margin-top:5px;" src="@Url.Content(item.ProfilPhotoPath)" alt="@item.FirstName-@item.LastName" />

                                        </a>
                                    </div>
                                    <div style="margin-top:-15px;margin-left:80px">
                                        <a id="aHover" href="@Url.Action("Main","Profile",new { id=item.AccountID})" style="text-decoration:none;color:black">
                                            <div>
                                                <h3> @item.FirstName @item.LastName</h3>
                                            </div>
                                        </a>
                                        <a style="text-decoration:none;color:black" href="@Url.Action("DiaryDetail","Home",new  { id=item.DiaryID})">
                                            <div>
                                                <h4>@item.Title</h4>
                                                <p> @item.DiaryContent</p>
                                            </div>
                                            <br />
                                        </a>
                                    </div>
                                    <small>@item.CreatedDate.ToLongDateString()</small>

                                </td>
                            </tr>
                        }
                    }
                </table>


            }
        </div>
    </div>
</div>
<div class="col-md-3">
    @{Html.RenderAction("_TrendAccounts", "Home");}
</div>


